.icc_container {
  position: relative;
  background: linear-gradient(
    180deg,
    #8fae4a 0%,
    #556b2f 40%,
    #2f3e1f 100%
  ); /* Editable: You can change the background color here  */
  color: white;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  aspect-ratio: 9/16;
  border-radius: 20px;
  overflow: hidden;
}
.icc_header {
  display: flex;
  flex-direction: column;
  padding: 5px 10px 5px 10px;
  gap: 15px;
}
.icc_avatar {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  pointer-events: none;
}
.icc_phone_informations_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.icc_phone_informations_part_one {
  color: black;
  font-size: 15px;
  font-weight: 600;
}
.icc_phone_informations_part_two {
  display: flex;
  align-items: center;
  gap: 5px;
}
.icc_icon_header {
  width: 15px;
  height: 15px;
}
.icc_contact_informations_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icc_contact_informations_back {
  background: rgba(255, 255, 255, 0.3);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icc_contact_informations_update {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px 5px 10px;
}
.icc_body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
  padding-bottom: 20px;

  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.08);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.icc_name {
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
}
.icc_icons_body_container {
  display: flex;
  gap: 15px;
}
.icc_icon_circle {
  background: rgba(255, 255, 255, 0.08);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icc_icon_body {
  width: 25px;
  height: 25px;
  object-fit: contain;
  display: block;
}
.icc_coordinates_container {
  width: 90%;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.icc_phone_number_container {
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}
.icc_phone_number,
.icc_address {
  color: white;
  font-size: 14px;
  font-weight: bold;
}
.icc_number,
.icc_street,
.icc_city {
  color: white;
  font-weight: 100;
  font-size: 15px;
}

/* Media query */
@media (max-width: 768px) {
  .icc_container {
  width: 60%;
}
}
@media (max-width: 480px) {
  .icc_container {
  width: 80%;
}
}
